In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('../../data/vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
pd.__version__

'2.0.1'

## Extraer arrays numpy

En este notebook utilizamos pandas (pd.read_csv) para leer un CSV de forma correcta ya que tiene comas en el t√≠tulo. 

Se extraen los arrays numpy a partir de columnas de un DataFrame pandas con .values

In [7]:
df['Name'].values

array(['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii', ...,
       'SCORE International Baja 1000: The Official Game', 'Know How 2',
       'Spirits & Spells'], dtype=object)

In [9]:
platforms = df['Platform'].values
platforms

array(['Wii', 'NES', 'Wii', ..., 'PS2', 'DS', 'GBA'], dtype=object)

In [10]:
print(type(platforms))

numpy.ndarray

In [12]:
np.set_printoptions(suppress=True)

total_sales = df['Global_Sales'].values
total_sales

array([82.74, 40.24, 35.82, ...,  0.01,  0.01,  0.01])

In [18]:
# Calcular ventas totales por Platform
unique_platforms = np.unique(platforms)
unique_platforms

array(['2600', '3DO', '3DS', 'DC', 'DS', 'GB', 'GBA', 'GC', 'GEN', 'GG',
       'N64', 'NES', 'NG', 'PC', 'PCFX', 'PS', 'PS2', 'PS3', 'PS4', 'PSP',
       'PSV', 'SAT', 'SCD', 'SNES', 'TG16', 'WS', 'Wii', 'WiiU', 'X360',
       'XB', 'XOne'], dtype=object)

In [23]:
# iterar sobre las plataformas con bucle for
total_sales_platform = []
for platform in unique_platforms:
    total_sales_platform.append(np.sum(total_sales[platforms == platform]))
    
total_sales_platform = np.array(total_sales_platform)
total_sales_platform

array([  97.08,    0.1 ,  247.46,   15.97,  822.49,  255.45,  318.5 ,
        199.36,   28.36,    0.04,  218.88,  251.07,    1.44,  258.82,
          0.03,  730.66, 1255.64,  957.84,  278.1 ,  296.28,   61.93,
         33.59,    1.87,  200.05,    0.16,    1.42,  926.71,   81.86,
        979.96,  258.26,  141.06])

In [24]:
# iterar sobre las plataformas con list comprehension
[np.sum(total_sales[platforms == platform]) for platform in unique_platforms]

[97.07999999999998,
 0.1,
 247.46,
 15.969999999999999,
 822.49,
 255.45000000000002,
 318.5,
 199.35999999999999,
 28.36,
 0.04,
 218.88,
 251.07,
 1.4400000000000002,
 258.82,
 0.03,
 730.66,
 1255.6399999999999,
 957.84,
 278.1,
 296.28000000000003,
 61.930000000000014,
 33.59,
 1.8700000000000003,
 200.05,
 0.16,
 1.42,
 926.71,
 81.86000000000001,
 979.96,
 258.26,
 141.06]